1_Fuzzy/paper/notebooks/** linguist-vendored
1_PKA/asgn_1/** linguist-vendored
1_CVL/asgn_1/** linguist-vendored
1_CVL/group_asgn_1/** linguist-vendored
1_PKA/group_asgn_1/** linguist-vendored
1_STMH/** linguist-vendored
